In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving Salaries.csv to Salaries.csv

In [ ]:
df=pd.read_csv('Salaries.csv')
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [ ]:
df.head()

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [ ]:
df.tail()

         rank discipline  phd  service     sex  salary
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [ ]:
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [ ]:
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [ ]:
df.tail(10)

         rank discipline  phd  service     sex  salary
68   AsstProf          A    4        2  Female   77500
69       Prof          A   28        7  Female  116450
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [ ]:
df.head(10)

        rank discipline  phd  service   sex  salary
0       Prof          B   56       49  Male  186960
1       Prof          A   12        6  Male   93000
2       Prof          A   23       20  Male  110515
3       Prof          A   40       31  Male  131205
4       Prof          B   20       18  Male  104800
5       Prof          A   20       20  Male  122400
6  AssocProf          A   20       17  Male   81285
7       Prof          A   18       18  Male  126300
8       Prof          A   29       19  Male   94350
9       Prof          A   51       51  Male   57800

In [ ]:
df.describe()

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

In [ ]:
df.max()

rank            Prof
discipline         B
phd               56
service           51
sex             Male
salary        186960
dtype: object

In [ ]:
df.min()

rank          AssocProf
discipline            A
phd                   1
service               0
sex              Female
salary            57800
dtype: object

In [ ]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

phd            19.705128
service        15.051282
salary     108023.782051
dtype: float64

In [ ]:
df.discipline.value_counts()

B    42
A    36
Name: discipline, dtype: int64

In [ ]:
df.std()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

phd           12.498425
service       12.139768
salary     28293.661022
dtype: float64

In [ ]:
df_50=df.head(50)

In [ ]:
df_50.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

phd            21.52
service        17.60
salary     113789.14
dtype: float64

In [ ]:
df.salary

0     186960
1      93000
2     110515
3     131205
4     104800
       ...
73    105450
74    104542
75    124312
76    109954
77    109646
Name: salary, Length: 78, dtype: int64

In [ ]:
df['salary']

0     186960
1      93000
2     110515
3     131205
4     104800
       ...
73    105450
74    104542
75    124312
76    109954
77    109646
Name: salary, Length: 78, dtype: int64

In [ ]:
df["salary"]

0     186960
1      93000
2     110515
3     131205
4     104800
       ...
73    105450
74    104542
75    124312
76    109954
77    109646
Name: salary, Length: 78, dtype: int64

In [ ]:
df.phd.describe()

count    78.000000
mean     19.705128
std      12.498425
min       1.000000
25%      10.250000
50%      18.500000
75%      27.750000
max      56.000000
Name: phd, dtype: float64

In [ ]:
df.phd.count()

78

In [ ]:
df.phd.mean()

19.705128205128204

In [ ]:
df.groupby(['rank']).mean()

                 phd    service         salary
rank
AssocProf  15.076923  11.307692   91786.230769
AsstProf    5.052632   2.210526   81362.789474
Prof       27.065217  21.413043  123624.804348

In [ ]:
df.groupby('rank')[['salary','phd']].mean()

                  salary        phd
rank
AssocProf   91786.230769  15.076923
AsstProf    81362.789474   5.052632
Prof       123624.804348  27.065217

In [ ]:
grouped=df.groupby('rank')

In [ ]:
type(grouped)

pandas.core.groupby.generic.DataFrameGroupBy

In [ ]:
df[df.salary>120000]

    rank discipline  phd  service     sex  salary
0   Prof          B   56       49    Male  186960
3   Prof          A   40       31    Male  131205
5   Prof          A   20       20    Male  122400
7   Prof          A   18       18    Male  126300
10  Prof          B   39       33    Male  128250
11  Prof          B   23       23    Male  134778
13  Prof          B   35       33    Male  162200
14  Prof          B   25       19    Male  153750
15  Prof          B   17        3    Male  150480
19  Prof          A   29       27    Male  150500
26  Prof          A   38       19    Male  148750
27  Prof          A   45       43    Male  155865
29  Prof          B   21       20    Male  123683
31  Prof          B   22       21    Male  155750
35  Prof          B   28       23    Male  126933
36  Prof          B   45       45    Male  146856
39  Prof          B   18       18  Female  129000
40  Prof          A   39       36  Female  137000
44  Prof          B   23       19  Female  151768
45  Prof          B   25       25  Female  140096
49  Prof          B   17       18  Female  122960
51  Prof          B   20       14  Female  127512
58  Prof          B   36       26  Female  144651
72  Prof          B   24       15  Female  161101
75  Prof          B   17       17  Female  124312

In [ ]:
df.iloc[1:3,0:4]

   rank discipline  phd  service
1  Prof          A   12        6
2  Prof          A   23       20

In [ ]:
df.iloc[0:10,1:4]

  discipline  phd  service
0          B   56       49
1          A   12        6
2          A   23       20
3          A   40       31
4          B   20       18
5          A   20       20
6          A   20       17
7          A   18       18
8          A   29       19
9          A   51       51

In [ ]:
df.iloc[0:2,]

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000

In [ ]:
df.quantile()

phd            18.5
service        14.5
salary     104671.0
Name: 0.5, dtype: float64

In [ ]:
df.quantile(.25)

phd           10.25
service        5.25
salary     88612.50
Name: 0.25, dtype: float64

In [ ]:
df['discipline'].value_counts()

B    42
A    36
Name: discipline, dtype: int64

In [ ]:
df[['salary','phd','service']]

    salary  phd  service
0   186960   56       49
1    93000   12        6
2   110515   23       20
3   131205   40       31
4   104800   20       18
..     ...  ...      ...
73  105450   18       10
74  104542   19        6
75  124312   17       17
76  109954   28       14
77  109646   23       15

[78 rows x 3 columns]

In [ ]:
print(df['salary'].head())
print(df[['salary','phd','service']].head())

0    186960
1     93000
2    110515
3    131205
4    104800
Name: salary, dtype: int64
   salary  phd  service
0  186960   56       49
1   93000   12        6
2  110515   23       20
3  131205   40       31
4  104800   20       18

In [ ]:
df[['salary','service']].min()

salary     57800
service        0
dtype: int64

In [ ]:
df[['salary','service']].max()

salary     186960
service        51
dtype: int64

In [ ]:
df['phd'].count()

78

In [ ]:
df['phd'].mean()

19.705128205128204

In [ ]:
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [ ]:
print(df['rank'].unique())

['Prof' 'AssocProf' 'AsstProf']

In [ ]:
df[['rank','discipline']].value_counts()

rank       discipline
Prof       A             23
           B             23
AsstProf   B             11
AssocProf  B              8
AsstProf   A              8
AssocProf  A              5
dtype: int64

In [ ]:
df.groupby('rank').mean()

                 phd    service         salary
rank
AssocProf  15.076923  11.307692   91786.230769
AsstProf    5.052632   2.210526   81362.789474
Prof       27.065217  21.413043  123624.804348

In [ ]:
df.groupby('rank')['salary'].mean()

rank
AssocProf     91786.230769
AsstProf      81362.789474
Prof         123624.804348
Name: salary, dtype: float64

In [ ]:
df.groupby(['rank','discipline'])['salary'].mean()

rank       discipline
AssocProf  A              73959.800000
           B             102927.750000
AsstProf   A              74450.000000
           B              86390.272727
Prof       A             111935.695652
           B             135313.913043
Name: salary, dtype: float64

In [ ]:
df.groupby(['rank','sex'])['salary'].max()

rank       sex
AssocProf  Female    109650
           Male      119800
AsstProf   Female     97032
           Male       92000
Prof       Female    161101
           Male      186960
Name: salary, dtype: int64

In [ ]:
df['rank']=='AssocProf'

0     False
1     False
2     False
3     False
4     False
      ...
73    False
74     True
75    False
76    False
77    False
Name: rank, Length: 78, dtype: bool

In [ ]:
df[df['rank']=='AssocProf']

         rank discipline  phd  service     sex  salary
6   AssocProf          A   20       17    Male   81285
30  AssocProf          B    9        7    Male  107008
34  AssocProf          B   12        8    Male  119800
41  AssocProf          A   13        8  Female   74830
47  AssocProf          B   11       11  Female  103613
54  AssocProf          A   25       22  Female   62884
56  AssocProf          A   10        8  Female   77500
59  AssocProf          B   12       10  Female  103994
61  AssocProf          B   13       10  Female  103750
62  AssocProf          B   14        7  Female  109650
64  AssocProf          A   26       24  Female   73300
71  AssocProf          B   12        9  Female   71065
74  AssocProf          B   19        6  Female  104542

In [ ]:
len(df[df['rank']=='AssocProf'])

13

In [ ]:
len(df[df['rank']=='Prof'])

46

In [ ]:
df[(df['rank']=='AssocProf') & (df['discipline']=='A')]

         rank discipline  phd  service     sex  salary
6   AssocProf          A   20       17    Male   81285
41  AssocProf          A   13        8  Female   74830
54  AssocProf          A   25       22  Female   62884
56  AssocProf          A   10        8  Female   77500
64  AssocProf          A   26       24  Female   73300

In [ ]:
print('The maximum salary of AsstProf is Rs.',df[df['rank']=='AsstProf']['salary'].max())

The maximum salary of AsstProf is Rs. 97032

In [ ]:
print('The minimum years of service for Prof is ',df[df['rank']=='Prof']['service'].min())

The minimum years of service for Prof is  0

In [ ]:
print('The Maximum Salary of prof is Rs.',df[df['rank']=='Prof']['salary'].max())

The Maximum Salary of prof is Rs. 186960

In [ ]:
print('The Minimum Salary of Prof is Rs.',df[df['rank']=='Prof']['salary'].min())

The Minimum Salary of Prof is Rs. 57800

In [ ]:
df.iloc[[5,9,10,12,20],:]

        rank discipline  phd  service   sex  salary
5       Prof          A   20       20  Male  122400
9       Prof          A   51       51  Male   57800
10      Prof          B   39       33  Male  128250
12  AsstProf          B    1        0  Male   88000
20  AsstProf          B    4        4  Male   92000

In [ ]:
df.iloc[[5,6,9,10,12,15,21],[0,3,4,5]]

         rank  service   sex  salary
5        Prof       20  Male  122400
6   AssocProf       17  Male   81285
9        Prof       51  Male   57800
10       Prof       33  Male  128250
12   AsstProf        0  Male   88000
15       Prof        3  Male  150480
21       Prof       30  Male  103106

In [ ]:
df.iloc[25:30,:]

        rank discipline  phd  service   sex  salary
25      Prof          B   35       31  Male   99418
26      Prof          A   38       19  Male  148750
27      Prof          A   45       43  Male  155865
28  AsstProf          B    7        2  Male   91300
29      Prof          B   21       20  Male  123683

In [ ]:
df.iloc[25:31,1:5]

   discipline  phd  service   sex
25          B   35       31  Male
26          A   38       19  Male
27          A   45       43  Male
28          B    7        2  Male
29          B   21       20  Male
30          B    9        7  Male